## Equal Weights Strategy

In [17]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

## Load the Stocks List

In [18]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

## Load the stocks last Close Price & Market Cap

In [19]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    #print(data)
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker" : ticker, 
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })
        
    stocks_df = pd.DataFrame(stocks_data)
        
    return stocks_df
        
    

tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  18642332811264   1377.599976
1        TCS.NS  10489197232128   2899.100098
2   HDFCBANK.NS  14516263845888    945.049988
3       INFY.NS   6006129557504   1448.900024
4  ICICIBANK.NS   9712583049216   1359.599976

In [20]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18642332811264   1377.599976
1          TCS.NS  10489197232128   2899.100098
2     HDFCBANK.NS  14516263845888    945.049988
3         INFY.NS   6006129557504   1448.900024
4    ICICIBANK.NS   9712583049216   1359.599976
5   HINDUNILVR.NS   5901703446528   2511.800049
6         SBIN.NS   7910177898496    856.950012
7   BAJFINANCE.NS   6120428535808    985.099976
8   BHARTIARTL.NS  11490971090944   1916.599976
9          ITC.NS   5074740838400    405.100006
10   KOTAKBANK.NS   3966301372416   1994.800049
11    ADANIENT.NS   2935889592320   2543.699951
12          LT.NS   5129403105280   3729.500000
13     HCLTECH.NS   3780294213632   1395.300049
14  ASIANPAINT.NS   2245722636288   2342.800049
15    AXISBANK.NS   3580597370880   1154.000000
16   SUNPHARMA.NS   3807024513024   1586.699951
17       WIPRO.NS   2468742692864    235.750000
18  ULTRACEMCO.NS   3550422761472  12070.000000
19    HDFCLIFE.NS   1647699951616    764.400024
20        ONGC.NS   2994358190080    238.020004
21        NTPC.NS   3276503515136    337.899994
22   POWERGRID.NS   2625095335936    282.250000
23  TATAMOTORS.NS   2477802651648    672.900024
24  INDUSINDBK.NS    555286396928    712.750000
25  ADANIGREEN.NS   1725252370432   1047.400024
26       TITAN.NS   2951465664512   3327.300049
27    DIVISLAB.NS   1510383419392   5689.500000
28       TECHM.NS   1246274256896   1407.699951
29      MARUTI.NS   5120360185856  16286.000000
30   COALINDIA.NS   2398225694720    389.149994
31        BPCL.NS   1408048168960    324.350006
32    JSWSTEEL.NS   2760044707840   1130.800049
33     DRREDDY.NS   1043043909632   1253.099976
34  BAJAJFINSV.NS   3197601579008   2003.199951
35  ADANIPORTS.NS   3006913576960   1392.000000
36       CIPLA.NS   1211244085248   1499.400024
37   BRITANNIA.NS   1426060738560   5920.500000
38     HAVELLS.NS    945051992064   1507.400024
39    SHREECEM.NS   1043094437888  28910.000000
40      GRASIM.NS   1863849607168   2746.800049
41   TATASTEEL.NS   2087787298816    167.399994
42  HEROMOTOCO.NS   1065961521152   5328.000000
43         M&M.NS   4133565497344   3396.500000
44   EICHERMOT.NS   1932836995072   7047.000000
45         IOC.NS   1997427048448    145.039993
46     SBICARD.NS    831509757952    873.849976
47  PIDILITIND.NS   1500924739584   1474.800049
48       DMART.NS   2940106702848   4517.799805
49     HDFCAMC.NS   1202914983936   5621.000000

## Sort the values

In [21]:
df = df.sort_values(by = "Market Cap", ascending = False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18642332811264   1377.599976
2     HDFCBANK.NS  14516263845888    945.049988
8   BHARTIARTL.NS  11490971090944   1916.599976
1          TCS.NS  10489197232128   2899.100098
4    ICICIBANK.NS   9712583049216   1359.599976
6         SBIN.NS   7910177898496    856.950012
7   BAJFINANCE.NS   6120428535808    985.099976
3         INFY.NS   6006129557504   1448.900024
5   HINDUNILVR.NS   5901703446528   2511.800049
12          LT.NS   5129403105280   3729.500000
29      MARUTI.NS   5120360185856  16286.000000
9          ITC.NS   5074740838400    405.100006
43         M&M.NS   4133565497344   3396.500000
10   KOTAKBANK.NS   3966301372416   1994.800049
16   SUNPHARMA.NS   3807024513024   1586.699951
13     HCLTECH.NS   3780294213632   1395.300049
15    AXISBANK.NS   3580597370880   1154.000000
18  ULTRACEMCO.NS   3550422761472  12070.000000
21        NTPC.NS   3276503515136    337.899994
34  BAJAJFINSV.NS   3197601579008   2003.199951
35  ADANIPORTS.NS   3006913576960   1392.000000
20        ONGC.NS   2994358190080    238.020004
26       TITAN.NS   2951465664512   3327.300049
48       DMART.NS   2940106702848   4517.799805
11    ADANIENT.NS   2935889592320   2543.699951
32    JSWSTEEL.NS   2760044707840   1130.800049
22   POWERGRID.NS   2625095335936    282.250000
23  TATAMOTORS.NS   2477802651648    672.900024
17       WIPRO.NS   2468742692864    235.750000
30   COALINDIA.NS   2398225694720    389.149994
14  ASIANPAINT.NS   2245722636288   2342.800049
41   TATASTEEL.NS   2087787298816    167.399994
45         IOC.NS   1997427048448    145.039993
44   EICHERMOT.NS   1932836995072   7047.000000
40      GRASIM.NS   1863849607168   2746.800049
25  ADANIGREEN.NS   1725252370432   1047.400024
19    HDFCLIFE.NS   1647699951616    764.400024
27    DIVISLAB.NS   1510383419392   5689.500000
47  PIDILITIND.NS   1500924739584   1474.800049
37   BRITANNIA.NS   1426060738560   5920.500000
31        BPCL.NS   1408048168960    324.350006
28       TECHM.NS   1246274256896   1407.699951
36       CIPLA.NS   1211244085248   1499.400024
49     HDFCAMC.NS   1202914983936   5621.000000
42  HEROMOTOCO.NS   1065961521152   5328.000000
39    SHREECEM.NS   1043094437888  28910.000000
33     DRREDDY.NS   1043043909632   1253.099976
38     HAVELLS.NS    945051992064   1507.400024
46     SBICARD.NS    831509757952    873.849976
24  INDUSINDBK.NS    555286396928    712.750000

## Taking Top 10 Stocks as per the market cap

In [22]:
df = df.head(10)
df.reset_index(inplace=True, drop = True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  18642332811264   1377.599976
1    HDFCBANK.NS  14516263845888    945.049988
2  BHARTIARTL.NS  11490971090944   1916.599976
3         TCS.NS  10489197232128   2899.100098
4   ICICIBANK.NS   9712583049216   1359.599976
5        SBIN.NS   7910177898496    856.950012
6  BAJFINANCE.NS   6120428535808    985.099976
7        INFY.NS   6006129557504   1448.900024
8  HINDUNILVR.NS   5901703446528   2511.800049
9          LT.NS   5129403105280   3729.500000

In [23]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size =  portfolio_size / len(df.index)
position_size

100000.0

In [24]:
df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size / price
))

df

C:\Users\aksha\AppData\Local\Temp\ipykernel_25056\3798226014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  18642332811264   1377.599976                       72
1    HDFCBANK.NS  14516263845888    945.049988                      105
2  BHARTIARTL.NS  11490971090944   1916.599976                       52
3         TCS.NS  10489197232128   2899.100098                       34
4   ICICIBANK.NS   9712583049216   1359.599976                       73
5        SBIN.NS   7910177898496    856.950012                      116
6  BAJFINANCE.NS   6120428535808    985.099976                      101
7        INFY.NS   6006129557504   1448.900024                       69
8  HINDUNILVR.NS   5901703446528   2511.800049                       39
9          LT.NS   5129403105280   3729.500000                       26